In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/robustbase/epilepsy.csv")
data.head()

   Unnamed: 0 treatment  base  age  seizure.rate  period  subject
0           1   placebo    11   31             5       1        1
1         110   placebo    11   31             3       2        1
2         112   placebo    11   31             3       3        1
3         114   placebo    11   31             3       4        1
4           2   placebo    11   30             3       1        2